<div class="font-sans font-medium">
  <div class="">
    <div
      class="bg-white flex justify-center bg-no-repeat h-[100vh] bg-cover"
      [ngStyle]="{ 'background-image': 'url(' + bgImage + ')' }"
    >
      <div class="w-[60%]">
        <div class="w-1/5 h-[5%] mt-10 flex items-end">
          <button routerLink="/books">
            <img
              class="w-10 h-10 hover:scale-110 hover:transition"
              [src]="arrowImage"
              alt=""
            />
          </button>
        </div>

        <div class="flex flex-col items-center h-full">
          <div
            class="bg-gray-100 w-[100%] mt-5 mb-20 mx-20 border rounded-xl shadow-lg flex flex-col items-center"
          >
            <div>
              <p class="capitalize my-5 font-bold text-3xl">add new book</p>
            </div>
            <div class="flex justify-between">
              <div><img class="w-[80%] mr-10" [src]="bookImage" alt="" /></div>
              <div>
                <form>
                  <div class="mb-2">
                    <label for="email" class="block mb-2 text-sm font-mediu"
                      >Title</label
                    >
                    <input
                      type="title"
                      id="title"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-yellow-500 block w-full p-2.5"
                      placeholder="Enter title"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="author" class="block mb-2 text-sm font-mediu"
                      >Author</label
                    >
                    <input
                      type="author"
                      id="author"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-yellow-500 block w-full p-2.5"
                      placeholder="Enter author"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label
                      for="countries"
                      class="block mb-2 text-sm font-medium"
                      >Category</label
                    >
                    <select
                      id="countries"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                      <option selected>Choose a category</option>
                      <option value="">Business</option>
                      <option value="">Science</option>
                      <option value="">Fiction</option>
                      <option value="">Philosophy</option>
                      <option value="">Biography</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
            <div class="w-1/2">
              <div>
                <div>
                  <label for="message" class="block mb-2 text-base font-bold"
                    >Descriptiton</label
                  >
                  <textarea
                    id="message"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Enter a descriptiton..."
                  ></textarea>
                </div>
              </div>
              <div class="my-2 mb-5">
                <button
                  type="button"
                  class="focus:outline-none capitalize font-bold bg-yellow-400 hover:bg-yellow-500 focus:ring-2 hover:transition focus:ring-yellow-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
                >
                  create
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
