<div>
  <nav class="relative">
    <div
      class="max-w-screen-xl font-sans font-medium flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a routerLink="/" class="text-xl uppercase"
        >my<span class="font-bold">book</span></a
      >
      <div class="w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 md:mt-0 md:border-0"
        >
          <li>
            <a
              routerLink="/"
              class="block py-2 pl-3 pr-4 text-white hover:text-gray-300 hover:transition hover:scale-110"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLink="/books"
              class="block py-2 pl-3 pr-4 text-white hover:text-gray-300 hover:transition hover:scale-110"
              >Books</a
            >
          </li>
          <li>
            <button
              routerLink="/login"
              class="block py-2 pl-3 pr-3 text-xl font-medium mx-20 bg-white hover:bg-gray-300 hover:transition w-[60%] rounded-full"
            >
              Log in
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
