<div class="flex h-screen justify-center items-center font-sans font-medium">
  <div class="w-[75%] h-[600px] grid grid-cols-3 shadow-lg rounded-2xl">
    <div class="col-span-2 bg-loginBgColor rounded-l-2xl">
      <div class="m-10 h-full">
        <div class="text-2xl text-white uppercase h-full">
          <a routerLink="/">my<span class="font-bold">book</span></a>
          <div class="h-[65%] flex flex-col items-center justify-center">
            <div><img [src]="astronautImage" alt="" /></div>
            <div>
              <p class="capitalize">
                welcome mY<span class="font-bold uppercase">book</span>
              </p>
            </div>
            <div>
              <p class="text-sm lowercase font-normal">
                there is no friend as loyal as a book.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 rounded-r-2xl flex items-center justify-center">
      <form
        [formGroup]="reactiveForm"
        class="font-sans font-normal w-[70%]"
        (ngSubmit)="login()"
      >
        <div class="flex flex-col items-center my-10">
          <div><img [src]="bookImage" alt="" /></div>
          <div><p class="text-5xl uppercase font-black">welcome</p></div>
        </div>
        <ng-container formGroupName="emailPassword">
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
            >
              <img class="w-5 h-5" [src]="mailImage" alt="" />
            </div>
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2"
              placeholder="Email"
            />
          </div>
          <ng-container
            *ngIf="reactiveForm.get('emailPassword.email')?.invalid"
          >
            <div>
              <div
                *ngIf="reactiveForm.get('emailPassword.email')?.errors?.['required'] && reactiveForm.get('emailPassword.email')?.touched"
              >
                Email is required.
              </div>
              <div
                *ngIf="reactiveForm.get('emailPassword.email')?.dirty && reactiveForm.get('emailPassword.email')?.errors?.['pattern']"
              >
                Invalid email pattern
              </div>
            </div>
          </ng-container>

          <div class="relative my-2">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
            >
              <img class="w-5 h-5" [src]="lockImage" alt="" />
            </div>
            <input
              formControlName="password"
              type="text"
              id="password"
              name="password"
              class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2"
              placeholder="Password"
            />
            <div
              class="absolute inset-y-0 right-0 flex items-center pr-3.5 pointer-events-none"
            >
              <img class="w-5 h-5" [src]="eyeOnImage" alt="" />
            </div>
          </div>
          <ng-container
            *ngIf="reactiveForm.get('emailPassword.password')?.invalid"
          >
            <div class="my-2">
              <div
                *ngIf="reactiveForm.get('emailPassword.password')?.errors?.['required'] && reactiveForm.get('emailPassword.password')?.touched"
              >
                password is required.
              </div>
            </div>
          </ng-container>
        </ng-container>
        <div>
          <button
            [disabled]="reactiveForm.invalid"
            type="submit"
            class="w-full text-white bg-loginBgColor hover:bg-blue-700 hover:transition focus:outline-none focus:ring-2 focus:ring-blue-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
          >
            Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
