<div class="font-sans font-medium">
  <div class="">
    <div
      class="bg-white flex justify-center bg-no-repeat h-[130vh] bg-cover"
      [ngStyle]="{ 'background-image': 'url(' + bgImage + ')' }"
    >
      <div>
        <div class="w-1/5 h-[5%] mt-10 flex justify-end items-end">
          <button routerLink="/books"><img class="w-10 h-10 hover:scale-110 hover:transition" [src]="arrowImage" alt=""></button>
        </div>

        <div class="flex flex-col items-center h-full">
          <div
            class="bg-gray-100 w-[70%] h-full mt-5 mb-20 mx-20 border rounded-xl shadow-lg flex flex-col"
          >
            <div class="flex flex-col h-full">
              <div class="flex">
                <div>
                  <img class="" [src]="tempBook?.image" alt="" />
                </div>
                <div class="mx-5 my-5 capitalize">
                  <div class="text-4xl font-bold my-2">
                    <p>{{ tempBook?.title }}</p>
                  </div>
                  <div>
                    <p class="text-xl font-bold text-yellow-500">
                      by fiersa besary
                    </p>
                  </div>
                  <div>
                    <p class="text-sm font-normal">{{ tempBook?.category }}</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-col items-center mx-44 font-normal">
                <div class="">
                  <p class="capitalize text-xl font-bold my-2">description</p>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Animi necessitatibus quia eligendi asperiores vitae magnam
                    tenetur doloribus earum ratione voluptatem. Porro
                    voluptatibus, tenetur est distinctio hic qui incidunt eum
                    quibusdam. et consectetur adipisicing elit. Animi
                    necessitatibus quia eligendi asperiores vitae magnam tenetur
                    doloribus earum ratione voluptatem. Porro voluptatibus,
                    tenetur est distinctio hic qui incidunt eum quibusdam.
                  </p>
                </div>
                <div class="my-10">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Delectus repellat cum praesentium mollitia explicabo
                    dolores, totam eveniet numquam quas culpa iusto quaerat
                    magnam vitae velit! Obcaecati sit quae illo dolores. Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Rem
                    aliquid distinctio quam unde et dignissimos eaque provident
                    vero veritatis, quisquam accusamus in explicabo voluptas
                    velit temporibus minima ea repellendus odit?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
