<app-navbar class="fixed w-full top-0"></app-navbar>
<div class="font-sans font-medium">
  <div class="grid grid-cols-2 h-[80vh]">
    <!-- hero texts -->
    <div class="flex flex-col items-center justify-center">
      <div class="">
        <div>
          <p class="text-7xl font-bold my-5 uppercase">all books</p>
        </div>
        <div class="">
          <button
          routerLink="/add-book"
            type="button"
            class="focus:outline-none capitalize font-bold bg-yellow-400 hover:bg-yellow-500 focus:ring-2 hover:transition focus:ring-yellow-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
          >
            add new book
          </button>
        </div>
      </div>
    </div>
    <!-- images -->
    <div
      class="bg-no-repeat"
      [ngStyle]="{ 'background-image': 'url(' + heroBg + ')' }"
    ></div>
  </div>
  <!-- all genre books -->
  <div class="bg-gray-200 flex">
    <aside
      id="default-sidebar"
      class="w-64 h-full transition-transform my-16 -translate-x-full sm:translate-x-0 mx-5"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-200">
        <ul class="space-y-2 font-medium">
          <li>
            <form>
              <label
                for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only"
                >Search</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </div>
                <input
                  type="search"
                  id="default-search"
                  class="block w-full p-3 pl-10 text-sm rounded-full focus:outline-yellow-500"
                  placeholder="Search Book"
                  required
                />
              </div>
            </form>
          </li>
          <li>
            <p class="flex items-center p-2 rounded-lg">
              <span class="flex-1 text-2xl font-bold whitespace-nowrap"
                >Book by Genre</span
              >
            </p>
          </li>

          <div
            class="flex flex-col text-xl text-center capitalize w-full font-normal"
          >
            <li
              class="p-2 w-full hover:bg-gray-100 hover:text-yellow-500 hover:border-2 border-2 hover:border-l-yellow-500"
            >
              <p class="">all genres</p>
            </li>
            <li
              class="p-2 w-full hover:bg-gray-100 hover:text-yellow-500 hover:border-2 border-2 hover:border-l-yellow-500"
            >
              <p class="">business</p>
            </li>
            <li
              class="p-2 w-full hover:bg-gray-100 hover:text-yellow-500 hover:border-2 border-2 hover:border-l-yellow-500"
            >
              <p class="">science</p>
            </li>
            <li
              class="p-2 w-full hover:bg-gray-100 hover:text-yellow-500 hover:border-2 border-2 hover:border-l-yellow-500"
            >
              <p class="">fiction</p>
            </li>
            <li
              class="p-2 w-full hover:bg-gray-100 hover:text-yellow-500 hover:border-2 border-2 hover:border-l-yellow-500"
            >
              <p class="">philosophy</p>
            </li>
            <li
              class="p-2 w-full hover:bg-gray-100 hover:text-yellow-500 hover:border-2 border-2 hover:border-l-yellow-500"
            >
              <p class="">biography</p>
            </li>
          </div>
        </ul>
      </div>
    </aside>

    <!-- books -->
    <div
      class="bg-gray-100 w-[70%] my-20 mx-20 border rounded-xl shadow-lg flex flex-col items-center"
    >
      <div class="text-3xl font-bold my-10">All Genre</div>
      <div class="grid grid-cols-2">
        <!-- book card -->
        <ng-container *ngFor="let book of books">
          <div
            class="flex mx-10 my-5 items-center bg-white border border-gray-200 rounded-lg shadow"
          >
            <img class="" [src]="book.image" alt="" />
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-2xl font-bold tracking-tight text-gray-90">
                {{ book.title | truncate }}
              </p>
              <p class="text-lg text-yellow-400">VANN KRYA</p>
              <p class="mb-3 font-normal text-gray-700">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
              <div>
                <button
                  (click)="setBookId(book.id)"
                  type="button"
                  class="text-white bg-yellow-400 hover:bg-yellow-500 hover:transition focus:outline-none focus:ring-2 focus:ring-yellow-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
                >
                  View
                </button>
                <button
                  type="button"
                  class="text-white bg-blue-400 hover:bg-blue-500 hover:transition focus:outline-none focus:ring-2 focus:ring-blue-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
                >
                  Edit
                </button>

                <button
                  (click)="deleteBook(book.id)"
                  type="button"
                  class="text-white bg-red-400 hover:bg-red-500 hover:transition focus:outline-none focus:ring-2 focus:ring-red-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
