<app-navbar class="fixed w-full top-0"></app-navbar>
<div class="font-sans font-medium">
  <div class="grid grid-cols-2 h-[80vh]">
    <!-- hero texts -->
    <div class="flex flex-col items-center justify-center">
      <div>
        <p class="text-7xl font-bold my-5 uppercase">
          read and add <br />
          your insight
        </p>
      </div>
      <div>
        <p class="text-2xl">
          find your favorite book and read it here for free
        </p>
      </div>
    </div>
    <!-- images -->
    <div
      class="bg-no-repeat"
      [ngStyle]="{ 'background-image': 'url(' + heroBg + ')' }"
    ></div>
  </div>
  <!-- new story -->
  <div class="bg-gray-200 flex flex-col items-center">
    <div
      class="bg-gray-100 w-[70%] my-20 border rounded-xl shadow-lg flex flex-col items-center"
    >
      <div class="text-3xl font-bold my-10">This new story</div>
      <div class="grid grid-cols-2">
        <!-- book card -->

        <ng-container *ngFor="let book of books">
          <div
            class="flex mx-10 my-5 items-center bg-white border border-gray-200 rounded-lg shadow"
          >
            <img class="" [src]="book.image" alt="" />
            <div class="flex flex-col justify-between p-4 leading-normal">
              <p class="mb-2 text-2xl font-bold tracking-tight text-gray-90">
                {{ book.title | truncate }}
              </p>
              <p class="text-lg text-yellow-400">VANN KRYA</p>
              <p class="mb-3 font-normal text-gray-700">
                Here are the biggest enterprise technology acquisitions of 2021
                so far, in reverse chronological order.
              </p>
              <div>
                <button
                  (click)="setBookId(book.id)"
                  type="button"
                  class="text-white bg-yellow-400 hover:bg-yellow-500 hover:transition focus:outline-none focus:ring-2 focus:ring-yellow-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
                >
                  View
                </button>
                <button
                  type="button"
                  class="text-white bg-blue-400 hover:bg-blue-500 hover:transition focus:outline-none focus:ring-2 focus:ring-blue-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
                >
                  Edit
                </button>

                <button
                  (click)="deleteBook(book.id)"
                  type="button"
                  class="text-white bg-red-400 hover:bg-red-500 hover:transition focus:outline-none focus:ring-2 focus:ring-red-300 font-medium rounded-full text-sm px-2 py-2 text-center mr-2 mb-2"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
